        //Login page 
        @media only screen and (max-width: 1200px) {}
        
        @media only screen and (max-width: 992px) {}
        
        @media only screen and (max-width: 768px) {
            #login .content {
                height: auto;
                padding: 60px 15px;
            }
        }
        
        @media only screen and (max-width: 576px) {
            #login .content {
                width: 72%;
            }
            #contact-area .contact-info h3 {
                font-size: 15px;
            }
        }
        
        @media only screen and (max-width: 420px) {
            #login .content h3 {
                font-size: 25px;
            }
        }
        
        @media only screen and (max-width: 265px) {
            #login .content {
                h3 {
                    font-size: 8px;
                }
                p {
                    font-size: 11px;
                }
            }
        }